.loadingWrapper {
  width: 105px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  position: relative;
}

.absolute {
  position: absolute;
}

