.numbersWrapper {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.numberRow {
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
}

.number {
  height: inherit;
}